div#mySidenav {
    z-index: 9999;
    background: #622595;
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 5%) !important;
    -moz-box-shadow: 0 0 5px 1px rgb(0 0 0 / 5%) !important;
    -webkit-box-shadow: 0 0 5px 1px rgb(0 0 0 / 5%) !important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 54px;
}

.sidenav a {
    /*padding: 8px 8px 8px 10px;*/
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    /*border-bottom: 1px solid #a183bb;*/
    transition: 0.3s;
}

.sidenav a:hover {
    color: #fff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 40px;
    border: 0px;
    line-height: 30px;
}

.sidemenu-active a {
    background-color: #264886 !important;
    color: #fff !important;
}

.card-headerr .title {
    font-size: 20px;
    color: #fff;
}
.card-headerr .accicon {
    float: right;
    font-size: 20px;
    width: 1.2em;
}
.card-headerr {
    background-color: #622595;
    cursor: pointer;
    border-bottom: none;
    padding: 8px 8px 8px 10px;
}
.card {
    border: 1px solid #9f70c7;
}
.card-bodyy ul li a{
    padding: 8px 8px 8px 10px;
    border-bottom: 1px solid #a183bb;
    color: #e5e5e5;
}
.card-bodyy ul li:last-child{
    border-bottom: 0px solid;
}
.card-bodyy ul{
    list-style: none;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 0px;
}
.card-bodyy {
    border-top: 1px solid #ddd;
    background: #622595;
    color: #fff;
    font-size: 17px;
}
.card-headerr:not(.collapsed) .rotate-icon {
    transform: rotate(180deg);
}
.rotate-icon {
    color: #fff;
}
